# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/

# Virtualenv
.venv/
venv/

# Env files
.env
.env.*

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/

# Docker
*.pid
